<div class="pb-4">
    <h3>Contributors as team members</h3>

    <div class="container py-4 px-lg-5">
        <div class="row justify-content-start">
            {% for p in site.data.team %}
            <div class='col-lg-2 col-md-3 col-sm-4'>
                <div class='' style='width:100%'>
                    <img class='w-100' src='{{ p[1].profile_image | relative_url }}' alt='{{ p[1].display_name }}'>
                    <a class="text-decoration-none text-link text-dark text-center" href="{{ p[1].profile_url }}">
                        <p class='pt-2'><b>{{ p[1].name }}</b><br></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="pb-4">
    <h3>Contributors as project supervisors</h3>

    <div class="container py-4 px-lg-5">
        <div class="row">
            {% for p in site.data.supervisors %}
            <div class='col-lg-2 col-md-3 col-sm-4'>
                <div class='' style='width:100%'>
                    <img class='w-100' src='{{ p[1].profile_image | relative_url }}' alt='{{ p[1].display_name }}'>
                    <a class="text-decoration-none text-link text-dark text-center" href="{{ p[1].profile_url }}">
                        <p class='pt-2'><b>{{ p[1].name }}</b><br></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>