{%- assign project_list = pages_list | where: "parent", "Projects" | reverse -%}
{% for proj in project_list %}
<div class="container pt-2 b-2">
    <div class="row d-flex mb-3">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xxl-2 d-md-block text-center align-self-center">
            <img class="project-thumb img-fluid " src="{{ proj.thumb }}" alt="{{ proj.title }}">
        </div>
        <div class="col-9 col-md-9 col-lg-9 col-xxl-10 d-flex">
            <div class="client-info mr-4 mt-2 align-self-center">
                <h5>{{ proj.title }}</h5>
                <p class="mb-0">{{ proj.description }}<br>
                    <a class="text-decoration-none mt-2" href="{{ proj.permalink | relative_url }}">
                        View More <i class="fa fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor -%}