
{{ people.display_name }}
<a href="{{ people.permalink }}">
    <i class="fa fa-link me-2" aria-hidden="true"></i>
</a>
<br>

{% if people.email_faculty -%}
<span class="mx-2"><a class="text-dark" href="mailto:${member.email}">
    <i class='fa fa-envelope mx-2' aria-hidden='true'></i>{{ people.email_faculty }}
</a></span>
{% endif -%}

{% if people.github -%}
<span class="mx-2"><a class="text-dark" href="{{ people.github }}">
    <i class='fa fa-github mx-2' aria-hidden='true'></i>GitHub
</a></span>
{% endif -%}

{% if people.website -%}
<span class="mx-2"><a class="text-dark" href="{{ people.website }}">
    <i class='fa fa-envelope mx-2' aria-hidden='true'></i>Website
</a></span>
{% endif -%}

{% if people.linkedin -%}
<span class="mx-2"><a class="text-dark" href="{{ people.linkedin }}">
    <i class='fa fa-linkedin mx-2' aria-hidden='true'></i>Linkedin
</a></span>
{% endif -%}

{% if people.researchgate -%}
<span class="mx-2"><a class="text-dark" href="{{ people.researchgate }}">
    <i class='fa fa-envelope mx-2' aria-hidden='true'></i>Researchgate
</a></span>
{% endif -%}
