---
layout: home
title: Pera Swarm
permalink: /
navbar_active: Home
---
{% include page_tree_builder.html pages=site.html_pages -%}

<div class="container">

    <!-- News -->
    <h2 class="home-h2">
        News
        <a class="h5 text-muted text-link text-decoration-none" href="{% link news/index.html %}">
            <i class="fa fa-link ms-2" aria-hidden="true"></i>
        </a>
    </h2>
    {% include list_news.html %}

    <!-- Publications -->
    <h2 class="home-h2">
        Publications
        <a class="h5 text-muted text-link text-decoration-none" href="{% link publications/index.html %}">
            <i class="fa fa-link ms-2" aria-hidden="true"></i>
        </a>
    </h2>
    {% include list_publications.html %}

    <!-- Projects -->
    <h2 class="home-h2">
        Projects
        <a class="h5 text-muted text-link text-decoration-none" href="{% link projects/index.html %}">
            <i class="fa fa-link ms-2" aria-hidden="true"></i>
        </a>
    </h2>
    {% include list_projects.html %}

    <!-- People -->
    <h2 class="home-h2">
        People
        <a class="h5 text-muted text-link text-decoration-none" href="{% link people/index.html %}">
            <i class="fa fa-link ms-2" aria-hidden="true"></i>
        </a>
    </h2>

    {% include list_people.html contact=false %}


    <!-- Intro -->
    <h2 class="home-h2">
        Intro
    </h2>
    <h4>Mixed Reality based Simulation Platform for Swarm Robotics</h4>
    <div class="d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UxYynRS6BR0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>


</div>