---
layout: wrappers_table
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>{{ page.title }} </title>
    {% include header.html %}

</head>

<body>
    {% include navbar.html %}
    <div class="container vh-75">
        <div class="container  col-sm-12 col-md-10 col-lg-10 mx-auto mt-3 py-2">
            <div class="row d-flex border-bottom">
                <div class="col-sm-2">
                    <img class="img-thumbnail" src="{{ page.avatar | relative_url }}" alt="{{ page.name }}">
                </div>
                <div class="col d-flex align-items-end">
                    <div class="">
                        <h2>{{ page.display_name }}</h2>
                        {% if page.position -%}
                        <span class="text-muted">{{ page.position }}</span>
                        {% endif -%}
                    </div>
                </div>
            </div>

            <div class="row p-5">
                <!-- Email -->
                {% if page.email_faculty -%}
                <a class="text-dark text-decoration-none text-link pt-2" href="mailto:{{ page.email_faculty }}">
                    <i class='fa fa-envelope mx-2' aria-hidden='true'></i>{{ page.email_faculty }}
                </a>
                {% endif -%}

                <!-- Github -->
                {% if page.github -%}
                <a class="text-dark text-decoration-none text-link pt-2" href="{{ page.github }}">
                    <i class='fa fa-github mx-2' aria-hidden='true'></i>{{ page.github }}
                </a>
                {% endif -%}

                <!-- Linkedin -->
                {% if page.linkedin -%}
                <a class="text-dark text-decoration-none text-link pt-2" href="{{ page.linkedin }}">
                    <i class='fa fa-linkedin mx-2' aria-hidden='true'></i>{{ page.linkedin }}
                </a>
                {% endif -%}

                <!-- Researchgate -->
                {% if page.researchgate -%}
                <a class="text-dark text-decoration-none text-link pt-2" href="{{ page.researchgate }}">
                    <i class='fa fa-globe  mx-2' aria-hidden='true'></i>{{ page.researchgate }}
                </a>
                {% endif -%}

                <!-- Website -->
                {% if page.website -%}
                <a class="text-dark text-decoration-none text-link pt-2" href="{{ page.website }}">
                    <i class='fa fa-globe  mx-2' aria-hidden='true'></i>{{ page.website }}
                </a>
                {% endif -%}
            </div>

            <div class="row">
                {{ content }}
            </div>

        </div>
    </div>
    {% include footer.html %}
</body>
